<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">
            WebClientes
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/pages/cadastrar-cliente">
                        Cadastrar Clientes
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/pages/consultar-cliente">
                        Consultar Clientes
                    </a>
                </li>
                <li class="nav-item me-3">
                    <span class = "navbar-text text-white">
                        Olá, João
                    </span>
                </li>

                <li class="nav-item">
                    <a href="/login" class="btn btn-outline-light btn-sm">
                        Sair
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>
